body {
    background-color:#92a8d1;
    color:	#d0e1ff;
    font-size: 30px;
}
h1{
    color:#9e7ea4;
      padding:6px;
   border-style:outset;
   border-width: 10px;
}
P{
    color:#0a0311;
}
div{
   
    background-color: rgb(155, 217, 244);
    padding:6px;
   border-style:dotted;
   border-width: 10px;
   border-color: rgb(255, 236, 211);
    margin:100px;
  border-radius: 10px

} 
.imgRound{
    border-radius: 5%;
}
.fotos{
    background-color: #a67252;
    border-style:none;
    margin:20px;
    padding:50px;
    display: flex;
    justify-content:center;background: radial-gradient(circle, #9056ee, #DBC9F5);
}

a{
    color: #c9ea5d;
}
.divGral{
    background-color: #da7fe9;
    border-style: none;
    margin:0px;

}
