body {
    background-color: #de98f2;
    color:#c9ea5d;
    font-size: 30px;
}
h1{
    color:#a380ee;
}
P{
    color:#a853f3;
}
div{
    background-color: rgb(81, 203, 255);
    padding:5px;
   border-style:dotted;
   border-width: 12px;
   border-color: rgb(255, 236, 211);
    margin:100px;
  border-radius: 12px;

 
} 
.imgR{
    border-radius: 20%;
}
.fotos{
    background-color: #f1c95a;
    border-style:none;
    margin:0px;
    padding:0px;
    display: flex;
    justify-content:right;
}

a{
    color: #c9ea5d;
}
