p{
    text-align:center;
    background-color: rgb(226, 43, 147);
    color:rgb(222, 227, 235);
    font-size: 200%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body{
    background-color: rgb(149, 124, 218);
}